@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 167 70% 10%;

    --card: 0 0% 100%;
    --card-foreground: 167 70% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 167 70% 10%;

    --primary: 158 95% 38%;
    --primary-foreground: 0 0% 100%;

    --secondary: 158 30% 96%;
    --secondary-foreground: 158 70% 10%;

    --muted: 158 30% 96%;
    --muted-foreground: 158 40% 40%;

    --accent: 158 95% 38%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 158 20% 90%;
    --input: 158 20% 90%;
    --ring: 158 95% 38%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 167 70% 10%;
    --foreground: 158 20% 90%;

    --card: 167 70% 10%;
    --card-foreground: 158 20% 90%;

    --popover: 167 70% 10%;
    --popover-foreground: 158 20% 90%;

    --primary: 158 84% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 158 30% 20%;
    --secondary-foreground: 158 20% 90%;

    --muted: 158 30% 20%;
    --muted-foreground: 158 40% 70%;

    --accent: 158 84% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 158 30% 20%;
    --input: 158 30% 20%;
    --ring: 158 84% 32%;
  }
}

@layer utilities {
  .bg-grid-white {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  }
  .bg-texture {
    /* background-color: #f3f4f6; */
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239CA3AF' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
